<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sfp4">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SFP4"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DonationActivity"
            android:exported="false" />
        <activity
            android:name=".student_home.MainActivityStudent"
            android:exported="false" />
        <activity
            android:name=".authentication.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".food_menu.FoodMenuActivity"
            android:exported="false" />
        <activity
            android:name=".face_and_food.FaceAndFoodActivity"
            android:exported="false" />
        <activity
            android:name=".student_list.recycler_view.SingleStudentActivity"
            android:exported="false" />
        <activity
            android:name=".student_list.StudentListActivity"
            android:exported="false" />
        <activity
            android:name=".food_recognition.CameraActivityFood"
            android:exported="false" />
        <activity
            android:name=".face_recognition.CameraActivityFace"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>